<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head', { extraFont: false, stylesheetPath: '/css/administracion.css' }) %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section class="admin-container">
        <h1 class="title">INFORMACIÓN CONJUNTO RESIDENCIAL</h1>

        <article class="admin-buttons">
            <select class="consults" onchange="location = this.value;">
                <option value="">Consultas</option>
                <option value="/administracion/apartamentos">Apartamentos</option>
                <option value="">Cartera</option>
              </select>

            <a href="/administracion/editar">Editar</a>

            <a href="">Reservas</a>

            <a href="/administracion/parqueaderos">Asignar Parqueadero</a>
        </article>

        <article class="info-container">
            <p>Nombre: <span>Vivamos en paz</span></p>
            <p>Dirección: <span><%= conjunto.o_direccion %></span></p>
            <p>Descuento de pago: <span><%= conjunto.t_descuento %></span></p>
            <p>Tasa de mora: <span><%= conjunto.t_mora %></span></p>
            <p>Cuota administración: <span><%= conjunto.v_base %></span></p>

            <% concepts.forEach(element => { %>
                <p><%= element.n_nombre %>: <span><%= element.v_valor %></span></p>	
            <% }) %>
        </article>
    </section> 
</main>

<script src="/scripts/modal.js"></script>

<!-- PARTIAL DEL FOOTER -->
<%- include ('./partials/footer') %>