<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head', { extraFont: false, stylesheetPath: '/css/apartamentoInfo.css' }) %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section class="apartment-container">
        <h1 class="title">INFORMACIÓN DE APARTAMENTO</h1>

        <article class="info-container">
            <p>Bloque: <span><%= apartamento.q_bloque %></span></p>
            <p>Coeficiente pago administración: <span><%= apartamento.v_coeficiente %></span></p>
            <p>Piso: <span><%= apartamento.q_piso %></span></p>
            <p>Cuota de administración: <span><%= apartamento.v_total %></span></p>
            <p>Número: <span> <%= apartamento.k_apartamento %></span></p>
            <p>Parqueadero asociado: <span><%= apartamento.k_parqueadero? apartamento.k_parqueadero : "Ninguno" %></span></p>
            <p>Tamaño: <span><%= apartamento.v_area %> m2</span></p>
        </article>

        <h1 class="title">RESPONSABLE</h1>

        <article class="info-container">
            <p>Tipo Identificación: <span><%= responsable.k_tipopersona %></span></p>
            <p>Identificación: <span><%= responsable.k_numeropersona %></span></p>
            <p>Correo: <span><%= responsable.o_correo %></span></p>
            <p>Nombre: <span><%= responsable.n_nombre1 %> <%= responsable.n_nombre2? responsable.n_nombre2: "" %></span></p>
            <p>Apellido: <span><%= responsable.n_apellido1 %> <%= responsable.n_apellido2? responsable.n_apellido2: "" %></span></p>
            <p>Telefono: <span><%= responsable.o_telefono %></span></p>
        </article>

        <h1 class="title">HABITANTES</h1>

        <% habitantes.forEach(item => { %>
            
            <article class="info-container">
                <p>Tipo Identificación: <span><%= item.k_tipopersona %></span></p>
                <p>Identificación: <span><%= item.k_numeropersona %></span></p>
                <p>Nombre: <span><%= item.n_nombre1 %> <%= item.n_nombre2? item.n_nombre2: "" %></span></p>
                <p>Apellido: <span><%= item.n_apellido1 %> <%= item.n_apellido2? item.n_apellido2: "" %></span></p>
            </article>

        <% }) %>

        <% if (habitantes.length == 0) { %>

            <article class="info-container">
                <p>No hay habitantes</p>
            </article>

        <% } %>

    </section>
</main>

<!-- PARTIAL DEL FOOTER -->
<%- include ('./partials/footer') %>